.css-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between
    /* gap: 20px; */
    /* align-items: center; */
    /* background-color: yellowgreen; */
}


.css-right-box{
    height: 500px ;
    width: 50%;
    /* position: sticky;
    top: 0; */
    /* background-color: aqua; */
}

.css-img{
    height: 200px;
    width: 50%;
    margin-left: 200px;
    margin-top: 200px;
}

.css-right-box>p{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

.css-left-box{
    height: 100vh;
    width: 50%;
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.csscontent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
    ;
    /* flex-direction: column; */
}

.css-first-video ,
.css-seconde-video,
.css-third-video{
    height: 300px;
    width: 70%;
    background-color: rgba(218, 164, 248, 0.729);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
}
